/* Layout */
.container {
    height: 100vh;
    /* Full viewport height */
    width: 80vw;
    /* 80% of the viewport width */
    margin: 0 auto;
    /* Centers the container horizontally */
    background-color: rgb(252, 252, 252);
    
}

@media (min-width: 768px) {
    .container {
        width: 60vw;
        /* 60% of the viewport width */
    }
    
}